h1 {
    font-family: serif;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: rgb(26, 26, 147);
}

p{
    color: rgb(152, 246, 10);
    text-align: left;
    width: 50%;
font-size: 20px;
font-family: serif;
line-height: 2;
}
